{% extends 'base.html'%} {% block title %} Actualizar precio promedio {% endblock %} {% block
    content %}
    <div class="container mt-5 mb-5 px-10 ">
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <form method="POST" action="/precio">
                    <input type="hidden" name="_id" value="{{ note._id }}" />
                    <div class="form-group">
                        <label for="value">Value</label>
                        <textarea
                            id="value"
                            name="value"
                            class="form-control"
                            placeholder="Any value"
                            aria-describedby="value"
                            required
                        >
                        {{ note.value }}
                        </textarea>
                        <small id="value" class="form-text text-muted">Ingrese el nuevo valor a registrar</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}